{% extends 'base.html' %}
{% include 'navbar.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="text-center">
    <h1 class="mb-4">Event Registration Portal</h1>
    <div class="d-grid gap-3 col-6 mx-auto">
        <a href="/add" class="btn btn-success btn-lg">Add Event</a>
        <a href="/view" class="btn btn-primary btn-lg">View Events</a>
        <a href="/update" class="btn btn-warning btn-lg">Update Event</a>
        <a href="/delete" class="btn btn-danger btn-lg">Delete Event</a>
        <!-- <a href="/search" class="btn btn-info btn-lg">Search Event</a> -->
    </div>
</div>
{% endblock %}
