{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Event Manager</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if session.username and session.role == 'admin' %}
        <li class="nav-item"><a class="nav-link" href="/add">Add Event</a></li>
        <li class="nav-item"><a class="nav-link" href="/view">View Events</a></li>
        <li class="nav-item"><a class="nav-link" href="/search">Search Event</a></li>
         <li class="nav-item"><a class="nav-link" href="/users">View Users</a></li>
        {% elif session.username and session.role == 'professor' %}
        <li class="nav-item"><a class="nav-link" href="/add">Add Event</a></li>
        <li class="nav-item"><a class="nav-link" href="/view">View Events</a></li>
        <li class="nav-item"><a class="nav-link" href="/search">Search Event</a></li>
        {% elif session.username and session.role == 'student' %}
        <li class="nav-item"><a class="nav-link" href="/view">View Events</a></li>
        <li class="nav-item"><a class="nav-link" href="/search">Search Event</a></li>
        {% endif %}
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {% if not session.username %}
        <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
        <li class="nav-item"><a class="nav-link" href="/signup">Sign Up</a></li>
        {% else %}
        <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
{% endblock %}