{% extends 'base.html' %}
{% include 'navbar.html' %}
{% block title %}View Events{% endblock %}
{% block content %}
<div class="card">
    <div class="card-body">
        <h3 class="card-title text-center mb-4">Event List</h3>
        <div class="table-responsive">
            <table class="table table-bordered table-striped align-middle">
                <thead class="table-primary">
                    <tr>
                        <th>Event Name</th>
                        <th>Event Date</th>
                        <th>Event Location</th>
                        <th>Event Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in events %}
                    <tr>
                        <td>{{ event[1] }}</td>
                        <td>{{ event[2] }}</td>
                        <td>{{ event[3] }}</td>
                        <td>{{ event[4] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}